body {
	font-family: "Arial", "Helvetica", "sans-serif";
	text-align: left;
	font-size: 10px;
}
#listTableHeader {
	font-family: "Courier New", Courier, mono;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #7F92A4;
	font-weight: bold;
	background-position: center;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.box {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #336699;
}
.entryTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #DDDDDD;
}

.entryTable .label {
	background-color: #EFEFEF;
}

.entryTable .content {
	background-color: #FFFFFF;
}
